.footer {
    background-color: #000;
    color: #fff;
    padding: 0 1rem;
}

.footer__container {
   display: grid;
   grid-template-columns: repeat(3, auto);
   align-items: center;
   padding: 5.25rem 0 3.75rem 0;
}

.footer .logo-studion {
   justify-self: start;
   margin: 0;
}

.logo-studion__subtitle {
   display: block;
}

.footer__form {
   display: grid;
   place-items: center;
   grid-template-columns: 9ch auto;  /*alterei de 10 para 9 devido ao tamanho da minha tela */
   gap: 1.25rem;
}

.footer__form label {
   font-size: .875rem;
   font-weight: 300;
   text-align: center;
}

.footer__email {
   display: grid;
   grid-template-columns: auto 3.375rem;
   border: unset;
   width: 100%;
}

.footer__form input {
   background-color: var(--color-primary);
   border: unset;
   padding: 1rem;
   font-size: .875rem;
   font-weight: 700;
   text-transform: uppercase;
   color: #000;
}

.footer__form input::placeholder {
   color: #000;
}

.footer__form input:focus {
   outline: unset;
}

.footer__form button {
   cursor: pointer;
   border: unset;
   height: 100%;
   transition: 0.3s all ease;
}

.footer__form button:hover {
   color: #fff;
   background-color: var(--color-copy);
}    

.footer__social {
   justify-self: end;
}

.footer__social a,
.footer__social a:visited,
.footer__sociala:active {
   color: #fff;
   margin-left: 0.3rem;
}

.footer__social a .fa-twitter,
.footer__social a:visited .fa-twitter,
.footer__sociala:active .fa-twitter {
   color: #000;
}

.footer hr {
    border-color: #fff4;
    margin: 0;
}

.footer p {
    text-align: center;
    font-size: .875rem;
    font-weight: 300;
    margin: 2.5rem 0;
}

