@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box; 
}

:root {
    --color-primary: #ffc500;
    --default-padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding-top: 6.4rem;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}


.navbar {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 9fr;
    height: 8rem;
    padding: 0 1rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
}

.navbar__links {
    justify-self: end;
}

.navbar__links li {
    font-size: .875rem;
    margin-right: 3rem;
    text-transform: uppercase;
}

.navbar__links a {
    color: white;
    font-weight: 300;
    text-decoration: none;
}

.navbar__links a:hover {
    color: var(--color-primary);
}

.logo-studion {
    font-size: 2.375rem;
    font-weight: 900;
    line-height: 0.8ch; 
    text-transform: uppercase;
    text-align: right;
}

.logo-studion__subtitle {
    font-size: .875rem;
    font-weight: 300;
}

.copy--primary {
    color: var(--color-primary);
}

#slider {
    background-color: #000;
    color: #fff;
}

.slide {
    position: relative;
    height: calc(100vh - 6.4rem);
    
}

.slide__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide__copy {
    position: absolute;
    top: 6.25rem;
    left: 50vw;
}

.slide__copy h6 {
    font-size: .9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1875rem;
}

.slide__copy h2 {
    font-size: 6.25rem;
    font-weight: 700;
    line-height: 6.25rem;
    text-transform: uppercase;
}

.slide__copy h2 span {
    display: block;
}

.btn {
    padding: 1rem 2.5rem;
    color: var(--color-primary);
    border: .125rem solid #fff;
    border-radius: 5rem;
    background: unset;
    font-size: .9375rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s all ease;
}

.btn:hover, .btn:active, .btn:focus {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #fff;
}